body{
  background-color: #bcbcb9;
}

.heading{
  background-color: rgb(221,221,218);
  margin: 20px;
  padding: 1px;
  font-family: sans-serif;
  color:rgba(190, 54, 54, 0.801);
}

h1{
  margin-left: 10px;
}

.maindiv{
  margin: 20px;
}

.div1{
  background-color: rgb(151, 175, 53);
  color: white;
  padding: 8px;
}
.div2{
  background-color: rgb(159, 185, 54);
  color: white;
  padding: 8px;
}

.div3{
  background-color: #a6c332;
  color: white;
  padding: 8px;
}

.div4{
  background-color: #b3cb46;
  color: white;
  padding: 8px;
}

.div5{
  background-color: #c3d25f;
  color: white;
  padding: 8px;
}

.div6{
  background-color: #d0da75;
  color: white;
  padding: 8px;
}

.div7{
  background-color: #cfdf8d;
  color: white;
  padding: 8px;
}

.div8{
  background-color: #ab3323;
  color: white;
  padding: 8px;
}

.div9{
  background-color: #e7abc1;
  color: white;
  padding: 8px;
}

.div10{
  background-color: #e799b5;
  color: white;
  padding: 8px;
}

.div11{
  background-color:#e587a7;
  color: white;
  padding: 8px;
}

.div12{
  background-color: #e2749a;
  color: white;
  padding: 8px;
}

.div13{
  background-color: #e0658a;
  color: white;
  padding: 8px;
}

.div14{
  background-color: #db5580;
  color: white;
  padding: 8px;
}

.div15{
  background-color: #da3d75;
  color: white;
  padding: 8px;
}